.page-description-updated {
  opacity: 0.01;
}

.page-description-updated.page-description-updated-active {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

.site-footer > section:first-of-type {
	font-size: 0.9rem;
}

.site-footer > section:nth-of-type(2) {
	font-size: 0.6rem;
}

.post.page header {
	margin-top: 0;
	margin-bottom: 1rem;
}

.post.page .post-meta {
	display:none;
}

.post.page h1 {
	border-bottom: #e0e4e7 1px solid
}

.post-content ul {
	padding-left: 5rem;
}

#ourtrainer + p::before {
	content:url(/assets/img/ericwgreene_175x175_rounded.png);
	float:right;
	width: 175px;
	height: 175px;
	margin-left:5px;
	margin-bottom: 5px;
}

.post-content > p + p {
	text-indent: 0;
	margin-top:1.5rem;
}

.post-comments {
	border-top: #EBF2F6 1px solid;
}

#disqus_thread {
	margin-top:-10px;
}

code::before {
	display:table;
	margin-left:-6px;
	margin-top:-35px;
	font-size:10px;
	text-transform: uppercase;
}

code.language-html::before {
	content: "HTML";
}

code.language-javascript::before {
	content: "JavaScript";
}

code.language-css::before {
	content: "CSS";
}

code.language-graphql::before {
	content: "GraphQL";
}

code.language-jsx::before {
	content: "JSX";
}

code.language-relayql::before {
	content: "RelayQL";
}

code.language-sass::before {
	content: "SASS";
}

code.language-less::before {
	content: "Less";
}

code.language-sql::before {
	content: "SQL";
}

code.language-bash::before {
	content: "bash";
}
